*{
    padding: 0px;
    margin: 0px;
}

/* HEADER */
.headerFlex{
    font-family: 'Outfit', sans-serif;
    background-color: #a9a9a9;
    background-image: url(./img/logo.jpg);
    background-repeat: no-repeat;
    border-image-width: 6px;
    flex-wrap: wrap;
}

/* NAVBAR */

.header__navbarFlex ul{
    font-family: 'Outfit', sans-serif;
    display: inline-block;
    align-items: flex-end;
    padding: 1rem;
    list-style-type: none;  
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header__navbarFlex li{
display: inline-block;
align-items: flex-end;
align-content: space-between;
background-color: #302e2e;
font-family: 'Outfit', sans-serif;
color: bisque;
text-shadow: #2b282e;
flex-wrap: wrap;
justify-content: space-evenly;
}

.header__navbarFlex a{
    display: inline-block;
    align-items: flex-end;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    color: bisque;
    text-transform: uppercase;
    text-decoration: solid;
    font-size: 1rem;
    background-color: #302e2e;
    padding: 1rem;  
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header__titulo{
    display:block;
    size: 1px;
    font-family: 'Outfit', sans-serif;
    color: rgb(12, 12, 12);
    font-size: 2rem;
    padding: 5rem;
    background-color: #5c5757;
} 

.sub__titulo{
    font-family: 'Outfit', sans-serif;
    background-color: #a9a9a9;
    font-size: medium;
    padding: 2rem;
}

/* CONTENIDO */

.cardsFlex{
    display: flex;
    justify-content:space-around;
    align-content: space-around;
}

.section__contenido{
    font-family: 'Outfit', sans-serif;
    background-color: #c2bebe;
    padding: 2rem;
    width: 100%;
}

.body{
    font-family: 'Outfit', sans-serif;
    color: #a9a9a9;
}

/* CON IMAGENES */

.efecto-imagen img:hover{
    transform: scale(1.3);
}


/* FOOTER */

.footerFlex{
    display:inline-flex
    font-family 'Outfit', sans-serif;
    background-color: #2b282e;
    color: rgb(240, 242, 245);
    flex-wrap: wrap;
}






